$color-text: #828282;
$error-text-color: #ec5757;
%style-text {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.0125em;
}

.loading {
  color: #828282;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  margin-top: 16px;
  letter-spacing: 0.0125em;
}

.error-message {
  color: $error-text-color;
  @extend %style-text;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
