$header-color: #121212;
$header-text-color: #ffffff;
$title-color: #333333;
$subtitle-color: #828282;
$font-text: "SF Pro Display";

%style-text {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.0125em;
}

nav {
  background-color: $header-color;
  h2 {
    color: $header-text-color;
    font-family: $font-text;
    font-size: 17px;
    letter-spacing: 0.0125em;
    text-align: center;
    width: 80%;
    margin-right: 30px;
  }
  .arrow-back {
    margin-bottom: 19;
    margin-left: 16px;
  }
}

section {
  font-family: $font-text;
  h4 {
    color: $title-color;
    @extend %style-text;
    margin-top: 32px;
    margin-left: 16px;
    margin-bottom: 8px;
  }
  ul {
    margin-left: -32px;
    display: flex;
    flex-direction: column;
  }
  li {
    color: $subtitle-color;
    list-style-type: none;
    @extend %style-text;
    margin-top: 14px;
    margin-left: 16px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  span {
    color: $title-color;
    @extend %style-text;
    margin-left: 210px;
  }
}
