$nav-color: #121212;
$text-color: #ffffff;
$font-text: "sfpro display bold";
nav {
  background-color: $nav-color;
  justify-content: center;
  h1 {
    color: $text-color;
    font-family: $font-text;
    font-size: 17px;
    letter-spacing: 0.0125em;
  }
}
